body {
	background-color: lavender;
	text-align: center;
	font-family: 'Arial';
}

.my-text {
	font-size: 55px;
	color: black;
	*font-family: Arial;
}

.my-text-2 {
	font-size: 55px;
	color: black;
	font-family: Arial;
}

.my-text-3 {
	font-size: 55px;
	color: black;
	font-family: Arial;
}

